:root {
    --primary: rgb(231, 232, 201);
    --secondary: rgb(117, 147, 111);
    --tertiary: rgb(13, 141, 78);
    --currencyFont: 'Abril Fatface', cursive;
    --entryContainerColor: rgb(33, 56, 74);
    --accentColor: rgb(71, 199, 99);
}

body {
    margin: 5px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bolder;
    background-color: #85FFBD;
    background-image: linear-gradient(116deg, #85FFBD 0%, #FFFB7D 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#container {
    display: flex;
}

#entry_container {
    background-color: var(--entryContainerColor);
    padding: 80px 40px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 15px 23px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 15px 23px 12px rgba(0, 0, 0, 0.25);
    color: white;
    min-width: 25%;
    max-width: calc(min(30vw, 500px));
    position: relative;
    z-index: 2;
    display: flex;
}

.description {
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    /* width: 80%;
    height: 90%; */
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

#top10 {
    /* margin: 0 auto; */
    padding-top: 15px;
    width: calc(max(300px, 90%));
}

#top10 ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#amount {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accentColor);
    text-align: center;
    color: var(--accentColor);
    font-size: 26px;
}


/* 
#amount_sign {
    color: var(--primary);
    font-size: 20px;
} */

#currencyRadio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#currencyRadio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#currencyRadio label {
    display: inline-block;
    /* border: 2px solid var(--tertiary); */
    border-radius: 50%;
    color: white;
    /* font-family: var(--currencyFont); */
    background: rgb(224, 198, 83);
    border: 3px solid rgb(224, 198, 83);
    margin: 15px 10px;
    font-size: 27px;
    transition: all 0.2s ease-in-out;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* #currencyRadio label:hover {
    color: var(--primary);
    background: var(--secondary);
} */

#currencyRadio input[type="radio"]:checked+label {
    /* border-color: white; */
    /* color: var(--tertiary); */
    /* border-width: 5px; */
    border: 3px solid white;
}

.topList {
    transition: all 0.3s;
    position: relative;
    padding: 8px 15px;
    color: white;
    background: var(--accentColor);
    border-radius: 5px;
    margin: 5px;
    font-size: 15px;
    text-align: center;
}


/* 
.topList span {
    transition: all 0.3s;
} */


/* .topList::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.781);
    border-bottom-color: rgba(255, 255, 255, 0.781);
}

.topList:hover::before {
    opacity: 1;
}

.topList:hover::after {
    opacity: 0;
} */

.data {
    /* display: none; */
    transition: all 0.2s ease-in-out;
}

#dataSide {
    opacity: 0;
    width: 0;
    background: white;
    padding: 30px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    z-index: 1;
    color: var(--entryContainerColor);
    justify-content: space-evenly;
    border-radius: 20px;
    transform: translateX(-30px);
}

.data_value {
    font-size: 50px;
}

.logo_data {
    width: 70px;
}

.logo_info img {
    width: 40px;
}

#length_logo {
    transform: rotate(90deg);
}


/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

#select_values {
    display: flex;
    flex-wrap: wrap;
    width: calc(max(300px, 80%));
    justify-content: center;
}

.noteBank {
    height: 20px;
    border: 3px solid var(--accentColor);
    border-radius: 5px;
    min-width: 40px;
    margin: 5px;
    padding: 5px 5px;
    color: white;
    background: var(--accentColor);
    font-weight: bold;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
}

.noteValue {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
    font-size: 17px;
}

.noteBank:hover,
.selected_note {
    border: 3px solid white;
}

#background_container {
    display: flex;
    position: absolute;
    z-index: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    align-items: center;
    justify-content: space-evenly;
}


/* .deco_amount {
    font-size: 150px;
    font-weight: bolder;
    color: var(--secondary);
    font-family: 'Abril Fatface', cursive;
    position: relative;
}

.deco_amount::after {
    content: attr(data-after);
    font-size: 500px;
    font-weight: bolder;
    color: var(--secondary);
    opacity: 0.4;
    font-family: var(--currencyFont);
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -170%);
}

.ellipse {
    height: 92%;
    width: 90%;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.ellipse-2 {
    height: 450px;
    width: 300px;
    background-color: var(--primary);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 5px solid var(--secondary);
}

#face {
    margin: auto 0;
    color: var(--primary);
    font-size: 200px;
} */

.tooltip .tooltip_content {
    visibility: hidden;
    width: 300px;
    background-color: var(--entryContainerColor);
    color: white;
    /* border: 1px solid white; */
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 0;
    position: absolute;
    z-index: 1;
    /* top: -350px; */
    /* right: -50%; */
    /* transform: translate(calc(-50% + 4ch), -110%); */
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
    /* margin-left: -150px; */
}

.tooltip_top {
    top: 100%;
}

.tooltip_bot {
    bottom: 100%;
}

.tooltip_content {
    font-weight: 100;
}

.tooltip {
    /*
    display: inline-block;
    text-align: center; */
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 80%;
}

.tooltip .tooltip_content img {
    width: 90%;
    margin: 0 auto;
}

.logo_info:hover .tooltip_content {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s ease-in-out;
    animation: fadeIn 0.2s ease-in-out;
}


/* .comparison_img {
    width: 200px;
}

#listItems ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

#saveForm {
    margin-top: 40px;
    padding: 8px 25px;
    border-radius: 10px;
    color: white;
    background: var(--entryContainerColor);
    font-size: 25px;
    border: 2px solid white;
    /* background-color: var(--secondary); */
    /* text-transform: uppercase; */
    font-weight: 100;
    transition-duration: 0.2s;
}

#saveForm:hover {
    color: var(--entryContainerColor);
    background: white;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    padding: 30px 0px 0px 0px;
}

#warn {
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-height:1000px) {
    #entry_container {
        padding: 40px 20px;
        box-shadow: 10px 15px 23px 12px rgba(0, 0, 0, 0.25);
        min-width: 25%;
        max-width: calc(min(30vw, 500px));
    }
    .entry {
        font-size: 23px;
        padding: 10px 0px 0px 0px;
    }
    #saveForm {
        margin-top: 30px;
        padding: 8px 20px;
        font-size: 20px;
    }
    #dataSide {
        padding: 10px;
        padding-left: 30px;
        transform: translateX(-30px);
    }
    .data_value {
        font-size: 40px;
    }
    .logo_data {
        width: 60px;
    }
    .logo_info img {
        width: 40px;
    }
}

@media screen and (max-width:400px) {
    #container {
        flex-direction: column;
        align-items: center;
    }
    #entry_container {
        padding: 10px 10px;
        min-width: none;
        max-width: 80%;
        height: 90vh;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .entry {
        font-size: 20px;
        padding: 10px 0px 0px 0px;
    }
    #saveForm {
        margin-top: 10px;
        padding: 8px 10px;
        font-size: 15px;
    }
    #top10 {
        /* margin: 0 auto; */
        padding-top: 15px;
        width: 70%;
    }
    #amount {
        font-size: 15px;
    }
    .topList {
        padding: 5px 8px;
        margin: 2px;
        font-size: 12px;
    }
    #dataSide {
        padding: 22px;
        transform: none;
        height: 100vh;
    }
    .data_value {
        font-size: 35px;
    }
    .logo_data {
        width: 50px;
    }
    .logo_info img {
        width: 30px;
        padding-bottom: 10px;
    }
    .tooltip {
        flex-direction: column;
    }
    #warn {
        position: initial;
        padding-bottom: 0;
    }
}